#header{
	background: black;
}
.container-fluid {
	background: grey;
		padding: 0px;
		margin: 0px;
}
.container{
	background: red;
	padding: 0px;
}

h2{
	font-size: 25px;
	color: orange;
}
#menu{
	padding: 0px;
	margin: 0px;
	margin-top: 0px;
}
.clear{
	clear: both;
}
.list-group-item{	
	margin: 0px;
}
.procedures{
	margin-left: 70px;
	margin-top: 70px;
	height: 80px;
	width: 300px;
	background: yellow;
	text-align: center;
}
.procedures h2{
	line-height: 80px;
	
}
@media (max-width: 980px) {
  .container {
    width: 100%;
  }
  #menu{
  	display: none;
  }
}
.navbar{
	background: black;	
}
